@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<div class="login-box-body">
    <p class="login-box-msg">Por favor verifique seu email para redefinir sua senha.</p>
</div>
<!-- /.login-box-body -->
